.calendar-container
{
    width: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    cursor: default;
}

#calendar-grid-container {
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: relative;
}

#calendar-grid {
    margin: 0;
    padding: 0;
    position: relative;
    background: white;
}

.cal-hours-column {
    margin: 0;
    padding: 0;
    width: 24px;
    min-width: 24px;
    border-right: 1px solid rgba(0,0,0,0.06);
}

.cal-hour-x {
    height: 22px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    border-right: 1px solid rgba(0,0,0,0.1);
}

.cal-hour-cell {
    width: 24px;
    min-width: 24px;
    height: 22px;
    border-bottom: 1px dotted rgba(0,0,0,0.06);
}

.cal-hour-text {
    font-size: 80%;
    font-weight: bold;
    text-align: right;
    padding: 2px 4px 0 0;
}

.cal-hour-cell-30 {
    height: 22px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    font-size: 50%;
    text-align: right;
}

.cal-day-column {
    margin: 0;
    padding: 0;
    width: 60px;
    min-width: 60px;
    border-right: 1px solid rgba(0,0,0,0.06);
}

.cal-day-title {
    width: 60px;
    min-width: 60px;
    height: 22px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    background-color: rgb(216, 229, 255);
    text-align: center;
}

.cal-day-title .weekday {
    font-size: 80%;
    font-weight: bold;
}

.cal-day-title .date {
    font-size: 70%;
}

.cal-day-cell {
    width: 60px;
    min-width: 60px;
    height: 22px;
    border-bottom: 1px dotted rgba(0,0,0,0.06);
}

.cal-day-cell-30 {
    border-bottom: 1px solid rgba(0,0,0,0.1) !important;
}

.cal-day-cell-selected {
    background-color: rgba(131, 214, 99, 0.9);
}

.cal-day-cell-selected-add {
	background-color: rgba(131, 214, 99, 0.4);
}

.cal-day-cell-selected-del {
	background-color: rgba(214, 99, 99, 0.4);
}

.cal-user-event {
	background: rgba(0,0,0,0.2);
	pointer-events: none;
	position: absolute;
	z-index: 2;
	overflow: hidden;
	/*border-radius: 5px;*/
}

.cal-user-event-title {
	font-size: 80%;
	text-align: center;
	font-weight: normal;
	color: rgba(0,0,0,0.8);
	padding: 3px;
}

.cal-user-vote {
	background: rgba(0, 255, 245, 0.3);
	pointer-events: none;
	position: absolute;
	z-index: 1;
	overflow: hidden;
	/*border-radius: 5px;*/
}

.color-legend {
	width: 20px;
	height: 20px;
	margin: 6px 6px 0 0;
	display: inline-block;
}

#legend-popup ul {
	list-style-type: none;
	padding: 0;
}

#legend-btn .ui-btn-inner {
	padding: 4px 8px 4px 7px;
	font-weight: bold;
	font-size: 14px;
}







