label.error {
	color: red;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.4;
	margin-top: 0.5em;
	width: 100%;
	float: none;
}

@media screen and (min-width: 900px) {
	.content-width-limit {
		max-width: 800px;
		margin-right: auto;
		margin-left: auto;
	}
}

@media screen and (min-width: 1200px) {
	.content-width-limit {
		max-width: 1200px;
		margin-right: auto;
		margin-left: auto;
	}
}

#flashmsg {
    text-align: center;
    background: rgba(255, 237, 32, 0.5);
    padding: 20px;
    border-radius: 10px;
    font-size: 150%;
    margin-top: 20px;
    font-weight: bold;
}

#flashmsg.ok {
    background: rgba(82, 202, 82, 0.5);
}

#flashmsg.note {
    background: rgba(255, 237, 32, 0.5);
}

#flashmsg.error {
    background: rgba(202, 82, 82, 0.5);
}

.input-error {
	display: none;
	font-weight: bold;
	text-align: center;
	padding: 5px 0;
	margin: 5px auto 0 auto;
	border-radius: 5px;
	width: 300px;
	background: rgba(202, 82, 82, 0.5);
}

.disable-select {
	-webkit-user-select: none;  
	-moz-user-select: none;    
	-ms-user-select: none;      
	user-select: none;
}

.calendar-container
{
	width: 100%;
	min-width: 100%;
	margin: 0;
	padding: 0;
	overflow-x: auto;
	cursor: default;
    background: white;
}

#calendar-grid {
    margin: 0;
    padding: 0;
    position: relative;
}

.cal-hours-column {
    margin: 0;
    padding: 0;
    width: 28px;
    min-width: 28px;
    border-right: 1px solid rgba(0,0,0,0.06);
}

.cal-hour-x {
	height: 25px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    border-right: 1px solid rgba(0,0,0,0.1);
}

.cal-hour-cell {
	width: 28px;
    min-width: 28px;
    height: 25px;
    border-bottom: 1px dotted rgba(0,0,0,0.06);
}

.cal-hour-text {
	font-size: 80%;
    font-weight: bold;
    text-align: right;
    padding: 2px 4px 0 0;
}

.cal-hour-cell-30 {
    height: 25px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    font-size: 50%;
    text-align: right;
}

.cal-day-column {
    margin: 0;
    padding: 0;
    width: 70px;
    min-width: 70px;
    border-right: 1px solid rgba(0,0,0,0.06);
}

.cal-day-title {
    width: 70px;
    min-width: 70px;
    height: 25px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    background-color: rgb(216, 229, 255);
    text-align: center;
}

.cal-day-title .weekday {
    font-size: 80%;
    font-weight: bold;
}

.cal-day-title .date {
    font-size: 70%;
}

.cal-day-cell {
    width: 70px;
    min-width: 70px;
    height: 25px;
    border-bottom: 1px dotted rgba(0,0,0,0.06);
}

.cal-day-cell-30 {
    border-bottom: 1px solid rgba(0,0,0,0.1) !important;
}

.cal-day-cell-selected {
    background-color: rgba(131, 214, 99, 0.9);
}

.cal-day-cell-sel-start {
    background-color: rgba(122, 229, 80, 0.9);
	
	animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}








