@media screen and (min-width: 900px) {
	.content-width-limit {
		max-width: 800px;
		margin-right: auto;
		margin-left: auto;
	}
}

@media screen and (min-width: 1200px) {
	.content-width-limit {
		max-width: 1200px;
		margin-right: auto;
		margin-left: auto;
	}
}


#flashmsg {
    text-align: center;
    background: rgba(202, 82, 82, 0.5);
    padding: 20px;
    border-radius: 10px;
    font-size: 150%;
    margin-top: 20px;
    font-weight: bold;
}

#flashmsg.ok {
    background: rgba(202, 82, 82, 0.5);
}

#flashmsg.note {
    background: rgba(202, 82, 82, 0.5);
}

#flashmsg.error {
    background: rgba(202, 82, 82, 0.5);
}
