{% extends "layout.html" %}

{% block header %}
About
{% endblock %}

{% block content %}

<h1>About</h1>   
<p>
SchedUp is a webapp designed to make scheduling events with friends and colleagues 
quicker and more straight forward. Instead of back-and-forth correspondence with a 
group of people, simply choose an event type, add a title and establish a time frame 
for it to happen. Your invitees will then choose their optimal time slots, after 
which you would pick the final hour for the event and send invites.
</p>

<h1>Privacy Policy</h1>
<p>
SchedUp <b>does not store</b> any information about you, other than your email 
address and name. Your events and contacts are fetched directly from your OAuth provider
(Google, Facebook, etc) each time and are not stored in our servers in any way.
Since we're open source, you can verify this for yourself!
</p>   

<p><a data-role="button" href="https://github.com/schedup/schedup">Source Code (github)</a></p>
<p><a data-role="button" href="http://sched-up.appspot.com/">Web App</a></p>
<p><a data-role="button" href="#page1">Andorid App (soon)</a></p>
<p><a data-role="button" href="https://docs.google.com/forms/d/1x-RewbcdOhjthy_q-NBbuYMsK_ES-hxsX1fK6NTcqKw/viewform" 
data-ajax="false" target="_blank" data-theme="b">User's Survey</a></p>

{% endblock %}