{% extends "layout.html" %}

{% block header %}
About
{% endblock %}

{% block content %}
   
<p>
SchedUp is a webapp designed to make scheduling events with friends and colleagues 
quicker and more straight forward. Instead of back-and-forth correspondence with a 
group of people, simply choose an event type, add a title and establish a time frame 
for it to happen. Your invitees will then choose their optimal time slots, after 
which you would pick the final hour for the event and send invites.
</p>

<p><a data-role="button" href="https://github.com/schedup/schedup">Source Code (github)</a></p>
<p><a data-role="button" href="http://sched-up.appspot.com/">Web App</a></p>
<p><a data-role="button" href="#page1">TBD: phonegap</a></p>

{% endblock %}