{% extends "layout.html" %}

{% block header %}
{{title}}
{% endblock %}

{% block content %}

<div class="calendar-container">
<div id="calendar-grid" class="disable-select">
<div class="calendar-days">
    <div class="calendar-day-cell calendar-day-cell-x"></div>
    {% for day in days %}
        <div class="calendar-day-cell">{{day}}</div>
    {% endfor %}
</div>
{% for hour in hours %}
    <div class="calendar-row">
	    <div class="calendar-hour">{{hour}}</div>
	    {% for day in days %}
	        <div class="calendar-cell" id="cal-cell-{{day}}-{{hour}}"></div>
	    {% endfor %}
    </div>
{% endfor %}
</div>
</div>

<script type="text/javascript">
$(document).ready(function(){
    
    var last_cell = null;
    
	$("#calendar-grid").on("vmousemove", function(e){
	    var elem = $(this);
	    var clickElem = $(document.elementFromPoint(e.pageX, e.pageY));
	    
	    if (e.which != 0 && clickElem.hasClass("calendar-cell")) {
		    if (last_cell != null && last_cell.attr("id") == clickElem.attr("id")) {
				return;
		    }
		    last_cell = clickElem;
			clickElem.toggleClass("calendar-cell-selected");
			e.preventDefault();
		}
	});
	
	
	
	var events = {{events_json|safe}};
	
	if (events.length) {
		var hoffset = $(".calendar-hour").outerWidth();
		var voffset = $(".calendar-days").outerHeight();
		var evtwidth = $(".calendar-cell").outerWidth();
        var evtheight = $(".calendar-cell").outerHeight();
        console.log(hoffset, voffset, evtwidth, evtheight);
		
		var grid = $("#calendar-grid");
		for (var i in events) {
			var evt = events[i];
			var evtdiv = $("<div class='calendar-event' id='calendar-event-" + evt.day + "-" + evt.hour + "'>");
			var title = $("<span class='calendar-event-title'>");
			title.text(evt.title);
			evtdiv.append(title);
			grid.append(evtdiv);
	        console.log(evt.hour, evt.day);
	        evtdiv.css("top", voffset + (evt.hour - {{min_hour}}) * evtheight);
	        evtdiv.css("left", hoffset + (evt.day - {{min_day}}) * evtwidth + 3);
	        evtdiv.css("height", evt.duration * evtheight - 3);
		}
	}
});
</script>

{% endblock %}

