{% extends "layout.html" %}


{% block topbar %}
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

<div class="ui-bar ui-bar-b">
	<a href="#sidepanel" data-role="button" class="ui-icon-nodisc" data-icon="bars" data-iconpos="notext" data-theme="b" data-iconshadow="false" data-ajax=false data-inline="true"></a>
	<a href="#transitionExample" data-transition="pop" data-icon="info" data-role="button" data-inline="true" data-rel="popup" class="ui-icon-nodisc"data-iconpos="notext"></a>
	<a href="#popupMenu" data-rel="popup" data-role="button" data-inline="true" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-theme="b" aria-haspopup="true" aria-owns="#popupMenu" class="ui-btn ui-shadow ui-btn-corner-all ui-btn-inline ui-btn-up-b">
	<div data-role="popup" id="transitionExample" data-overlay-theme="a" class="ui-content" data-theme="d" data-position-to="window">
	<style>
	h2 { color:DodgerBlue ; width:200px; font-size:24px; }
  	</style>
  	<h2>{{event.title}}</h1>
	<h4>{{event.type}} Event</h4>
	<h4>By {{event.owner.get().fullname or event.owner.get().email}} </h4>
	{% if event.description %} 
	<h4>Description</h4>
	<p>{{event.description}}</p>
	{% endif %}
	</div>
		<span class="ui-btn-inner ui-btn-corner-all">
			<span class="ui-btn-text">Select Guests</span>
		</span>
	</a>
	<h1 class="ui-title" role="heading" aria-level="1">SchedUp</h1>
	<div style="float:right;">
		 <a href="/" data-role="button" class="ui-icon-nodisc" data-icon="home" data-iconpos="notext" data-theme="b" data-iconshadow="false" data-ajax=false data-inline="true"></a>
    </div>
</div>
<div class="ui-popup-container ui-popup-active" id="popupMenu-popup" style="max-width: 1336px; top: 592px; left: 577px;" tabindex="0"><div data-role="popup" id="popupMenu" data-theme="a" class="ui-popup ui-body-a ui-overlay-shadow ui-corner-all" aria-disabled="false" data-disabled="false" data-shadow="true" data-corners="true" data-transition="none" data-position-to="origin">
				<div class="ui-controlgroup-controls">
					<div class="ui-checkbox">
						<input type="checkbox" name="checkbox-1a" id="checkbox-1a" class="custom">
							<label for="checkbox-1a" data-theme="c" class="ui-btn ui-btn-icon-left ui-corner-top ui-btn-up-c">
								<span class="ui-btn-inner ui-corner-top">
									<span class="ui-btn-text">Shir</span>
									<span class="ui-icon ui-icon-ui-icon-checkbox-off ui-icon-checkbox-off"></span>
								</span>
							</label>
					</div>
					<div class="ui-checkbox">
						<input type="checkbox" name="checkbox-2a" id="checkbox-2a" class="custom">
							<label for="checkbox-2a" data-theme="c" class="ui-btn ui-btn-icon-left ui-btn-up-c">
								<span class="ui-btn-inner">
									<span class="ui-btn-text">Tomer</span>
									<span class="ui-icon ui-icon-ui-icon-checkbox-off ui-icon-checkbox-off"></span>
								</span>
							</label>
					</div>
					<div class="ui-checkbox">
						<input type="checkbox" name="checkbox-3a" id="checkbox-3a" class="custom">
							<label for="checkbox-3a" data-theme="c" class="ui-btn ui-btn-icon-left ui-btn-up-c">
								<span class="ui-btn-inner">
									<span class="ui-btn-text">Ofir</span>
									<span class="ui-icon ui-icon-ui-icon-checkbox-off ui-icon-checkbox-off"></span>
								</span>
							</label>
					</div>
					<div class="ui-checkbox">
						<input type="checkbox" name="checkbox-4a" id="checkbox-4a" class="custom">
							<label for="checkbox-4a" data-theme="c" class="ui-btn ui-btn-icon-left ui-corner-bottom ui-controlgroup-last ui-btn-up-c">
								<span class="ui-btn-inner ui-corner-bottom ui-controlgroup-last">
									<span class="ui-btn-text">Yana</span>
									<span class="ui-icon ui-icon-ui-icon-checkbox-off ui-icon-checkbox-off"></span>
								</span>
							</label>
					</div>
			    </div>
		</div>
</div>
{% endblock %} 

{% block content %}

<div class="calendar-container">
<div id="calendar-grid" class="disable-select">
<div class="calendar-days">
    <div class="calendar-day-cell calendar-day-cell-x"></div>
    {% for day, dayname in days %}
        <div class="calendar-day-cell {% if dayname == 'Fr' or dayname == 'Sa' %}day-weekend{%endif%}">
        {{day}} [{{dayname}}]</div>
    {% endfor %}
</div>
{% for hour in hours %}
    <div class="calendar-row">
	    <div class="calendar-hour">{{hour}}</div>
	    {% for day, _ in days %}
	        <div class="calendar-cell" id="cal-cell-{{day}}-{{hour}}" data-hour="{{day}},{{hour}}"></div>
	    {% endfor %}
    </div>
    <div class="calendar-row">
	    <div class="calendar-hour calendar-hour-half"></div>
	    {% for day, _ in days %}
	        <div class="calendar-cell calendar-cell-half" id="cal-cell-{{day}}-{{hour}}-half"
	        data-hour="{{day}},{{hour}}.5"></div>
	    {% endfor %}
    </div>
{% endfor %}
</div>
</div>

<p>
<button data-role="button" id="savebtn" data-theme="b" data-icon="check" data-iconpos="right">Send</button>
</p>

<script type="text/javascript">
$(document).ready(function(){
    
    var last_cell = null;
    
	/*$("#calendar-grid").on("vmousemove", function(e){
	    var elem = $(this);
	    var clickElem = $(document.elementFromPoint(e.pageX, e.pageY));
	    
	    if (e.which != 0 && clickElem.hasClass("calendar-cell")) {
		    if (last_cell != null && last_cell.attr("id") == clickElem.attr("id")) {
				return;
		    }
		    last_cell = clickElem;
			clickElem.toggleClass("calendar-cell-selected");
			e.preventDefault();
		}
	});*/
	
	$(".calendar-cell").on("click", function(e) {
	    $(this).toggleClass("calendar-cell-selected");
	});
	
	var events = {{events_json|safe}};
	
	var hoffset = $(".calendar-hour").outerWidth();
	var voffset = $(".calendar-days").outerHeight();
	var evtwidth = $(".calendar-cell").outerWidth();
	var evtheight = $(".calendar-cell").outerHeight() + $(".calendar-cell-half").outerHeight();

	var grid = $("#calendar-grid");
	
	if (events.length) {
		for (var i in events) {
			var evt = events[i];
			var evtdiv = $("<div class='calendar-event' id='calendar-event-" + evt.day + "-" + evt.hour + "'>");
			var title = $("<span class='calendar-event-title'>");
			title.text(evt.title);
			evtdiv.append(title);
			grid.append(evtdiv);
	        console.log(evt.hour, evt.day);
	        evtdiv.css("top", voffset + (evt.hour - {{min_hour}}) * evtheight);
	        evtdiv.css("left", hoffset + evt.day * evtwidth + 3);
	        evtdiv.css("height", evt.duration * evtheight - 3);
		}
	}

	var suggested = {{suggested_json|safe}};

	if (suggested.length) {
		for (var i in suggested) {
			var evt = suggested[i];
			var evtdiv = $("<div class='calendar-slot' id='calendar-slot-" + evt.day + "-" + evt.hour + "'>");
			var title = $("<span class='calendar-event-title'>");
			title.text("["+evt.going + "/" + evt.count + "]");
			evtdiv.append(title);
			grid.append(evtdiv);
	        console.log(evt.hour, evt.day);
	        evtdiv.css("top", voffset + (evt.hour - {{min_hour}}) * evtheight);
	        evtdiv.css("left", hoffset + evt.day * evtwidth + 3);
	        evtdiv.css("height", evt.duration * evtheight - 3);
		}
	}
	
	$("#savebtn").on("click", function(){
	    var selected = $.map($(".calendar-cell-selected"), function(elem){return $(elem).data("hour");});
	    console.log(selected);
	    
	    $.ajax("{{post_url}}", {
			cache : false,
			type: "POST",
			dataType : "json",
			data: JSON.stringify(selected),
			traditional: true,
			success : function(){
			    console.log("hurra");
			    window.location.href = "/my";
			},
			error : function(x){
			    console.log("oh nos", x);
			}

	    });
	});
	
});
</script>

{% endblock %}

