{% extends "layout.html" %}

{% block header %}
{{title}}
{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="/static/css/calendar2.css" />
{% endblock %}

{% block content %}

<div id="prevnext-bar">
<table style="width:100%;"><tr>
<td>
<a href="#" id="prev-btn" data-role="button" data-theme="a" data-inline="true" data-icon="arrow-l" data-iconpos="notext"></a>
</td>
<td style="text-align:right;">
<a href="#" id="next-btn" data-role="button" data-theme="a" data-inline="true" data-icon="arrow-r" data-iconpos="notext"></a>
</td>
</tr></table>
</div>

<div class="calendar-container disable-select">
<table cellpadding="0" cellspacing="0" style="width:100%;"><tr>
	<td class="cal-hours-column">
	<div style="z-index:5; background:white;">
	    <div class="cal-hour-x"></div>
		{% for hour in hours %}
		   <div class="cal-hour-cell" data-cell-row="{{hour*2}}"><div class="cal-hour-text">{{hour}}</div></div>
	       <div class="cal-hour-cell-30" data-cell-row="{{hour*2+1}}"></div>
		{% endfor %}
	</div>
	</td>
	<td>
		<div id="calendar-grid-container">
		<div id="calendar-grid">
		<table cellpadding="0" cellspacing="0"><tr>
		{% for day in days %}
	    <td class="cal-day-column" id="column-{{day.index}}">
		    <div class="cal-day-title" data-cell-col="{{day.index}}">
		        <span class="weekday">{{day.weekday}}</span> <span class="date">{{day.date}}</span>
		    </div>
		    {% for hour in hours %}
		       <div class="cal-day-cell" id="cell-{{day.index*48+hour*2}}" 
		       		data-cell-row="{{hour*2}}" data-cell-col="{{day.index}}"></div>
		       <div class="cal-day-cell cal-day-cell-30" id="cell-{{day.index*48+hour*2+1}}" 
		       		data-cell-row="{{hour*2+1}}" data-cell-col="{{day.index}}"></div>
		    {% endfor %}
	    </td>
		{% endfor %}
		</tr></table>
		</div>
		</div>
	</td>
</tr>
</table>
</div>

<p>
<button data-role="button" id="savebtn" data-theme="b" data-icon="check" data-iconpos="right">
Send</button>
</p>

<script type="text/javascript">
$(document).ready(function(){
    
    function setContainerWidth(){
		var totWidth = $(".calendar-container").innerWidth();
		var hourColWidth = $(".cal-hours-column").outerWidth();
		console.log("totWidth", totWidth, "hours", hourColWidth);
		$("#calendar-grid-container").width(totWidth - hourColWidth);
	}
    
    $(window).on("resize", setContainerWidth);
    setContainerWidth();
    
    var first_elem = null;
    $(".cal-day-cell").on("touchstart mousedown", function(e){
		console.log("touchstart");
		first_elem = $(this);
		selectRect(first_elem, first_elem);
    });

    $(".cal-day-cell").on("touchend mouseup", function(e){
		first_elem = null;
		console.log("touchend");
		$(".cal-day-cell-selected-add").addClass("cal-day-cell-selected");
		$(".cal-day-cell-selected-del").removeClass("cal-day-cell-selected");
		$(".cal-day-cell-selected-add").removeClass("cal-day-cell-selected-add");
		$(".cal-day-cell-selected-del").removeClass("cal-day-cell-selected-del");
	});

    $(".cal-day-cell").on("touchmove mousemove", function(e){
		if (first_elem == null) {
		    return;
		}
		selectRect(first_elem, $(this));
	});
    
    function selectRect(fromelem, toelem) {
        var r1 = parseInt(fromelem.data("cell-row"));
        var c1 = parseInt(fromelem.data("cell-col"));
        var r2 = parseInt(toelem.data("cell-row"));
        var c2 = parseInt(toelem.data("cell-col"));
        
        if (r2 < r1) {
            var tmp = r2;
            r2 = r1;
            r1 = tmp;
        }
        if (c2 < c1) {
            var tmp = c2;
            c2 = c1;
            c1 = tmp;
        }

        $(".cal-day-cell-selected-add").removeClass("cal-day-cell-selected-add");
        $(".cal-day-cell-selected-del").removeClass("cal-day-cell-selected-del");
        var cls = fromelem.hasClass("cal-day-cell-selected") ? "cal-day-cell-selected-del" : "cal-day-cell-selected-add";
        
        for (var r = r1; r <= r2; r++) {
            for (var c = c1; c <= c2; c++) {
                $(".cal-day-cell[data-cell-row='"+r+"'][data-cell-col='"+c+"']").addClass(cls);
            }
        }
    }
    
	$(".cal-day-title").on("taphold dblclick", function() {
		var col = $(this).data("cell-col");
		var c1 = $(".cal-day-cell[data-cell-col='" + col + "']");
		var c1_has = _.every(c1.map(function(){return $(this).hasClass("cal-day-cell-selected");}));
		
		if (c1_has) {
			c1.removeClass("cal-day-cell-selected");
		}
		else {
			c1.addClass("cal-day-cell-selected");
		}
	});

	$(".cal-hour-cell").on("taphold dblclick", function() {
	     var row = $(this).data("cell-row");
	     var r1 = $(".cal-day-cell[data-cell-row='" + row + "']");
         var r2 = $(".cal-day-cell[data-cell-row='" + (row + 1)+ "']");
	     var r1_has = _.every(r1.map(function(){return $(this).hasClass("cal-day-cell-selected");}));
         var r2_has = _.every(r2.map(function(){return $(this).hasClass("cal-day-cell-selected");}));
	     
	     if (r1_has && r2_has) {
	    	 r1.removeClass("cal-day-cell-selected");
             r2.removeClass("cal-day-cell-selected");
	     }
	     else {
             r1.addClass("cal-day-cell-selected");
             r2.addClass("cal-day-cell-selected");
	     }
	});

    $(".cal-hour-cell-30").on("taphold dblclick", function() {
        var row = $(this).data("cell-row");
        var r1 = $(".cal-day-cell[data-cell-row='" + row + "']");
        var r1_has = _.every(r1.map(function(){return $(this).hasClass("cal-day-cell-selected");}));
        
        if (r1_has) {
            r1.removeClass("cal-day-cell-selected");
        }
        else {
            r1.addClass("cal-day-cell-selected");
        }
    });
    
    $("#next-btn").on("click", function() {
        var grid = $("#calendar-grid");
        var left = parseInt(grid.css("margin-left"));
        var width = grid.outerWidth();
        var portWidth = $("#calendar-grid-container").innerWidth();
        
        console.log("port", portWidth, "width", width, "left", left);
        
        if (left + width <= portWidth) {
            return;
        }
        grid.animate({
            "margin-left": (left - _.min([width - portWidth, portWidth])) + "px",
        });
    });

    $("#prev-btn").on("click", function() {
        var grid = $("#calendar-grid");
        var left = parseInt(grid.css("margin-left"));
        var width = grid.outerWidth();
        var portWidth = $("#calendar-grid-container").innerWidth();
        if (left >= 0) {
            return;
        }
        var delta = portWidth;
        grid.animate({
            "margin-left": /*_.max([left + delta, 0])*/ "0px",
        });
    });

});
</script>

{% endblock %}

