{% extends "layout.html" %}

{% block header %}
{{the_event.title or "Select time slots"}}
{% endblock %}

{% block extracss %}
<script type="text/javascript" src="/static/js/jquery.touchSwipe.min.js"></script>
<link rel="stylesheet" href="/static/css/calendar2.css" />
{% endblock %}

{% block content %}

<div data-role="popup" id="infobox" data-overlay-theme="a" class="ui-content" data-theme="d" data-position-to="window" 
    style="max-width:350px; min-width:250px; margin-right: 10px;">
    <a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
    <h2 style="color:DodgerBlue; width:200px; font-size:24px;">{{the_event.title}}</h2>
    <!-- h4>{{the_event.type}} Event</h4-->
    <h4>By {{the_event.owner_fullname}} </h4>
    {% if the_event.location %} 
    <h4>{{the_event.location}}</h4>
    {% endif %}
    {% if the_event.description %} 
    <h4>Description</h4>
    <p>{{the_event.description}}</p>
    {% endif %}
    <hr>
    <h2 style="color:DodgerBlue; width:200px; font-size:24px;">Color legend</h2>
	<ul>
	   	<li><div class="color-legend" style="background: rgba(131, 214, 99, 0.9);"></div>Your preferred times</li>
   		<li><div class="color-legend" style="background: rgba(0,0,0,0.2);"></div>Your existing events</li>
   		<li><div class="color-legend" style="background: url('/static/img/diagbg2.png') repeat;"></div>Guests' preferred times</li>
	</ul>
</div>

<div data-role="popup" id="friendsFilter" data-overlay-theme="a" class="ui-content" data-theme="d" data-position-to="window">
    <a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
    <fieldset data-role="controlgroup">
        <legend>Guests to show</legend>
        {% if not is_owner %}
            {% set sanitized = the_event.owner.get().sanitized_email() %}
            <input type="checkbox" id="guest-checkbox-owner" checked 
               class="guestFilterCheckbox" data-email="{{sanitized}}">
            <label for="guest-checkbox-owner">{{the_event.owner_fullname}}</label>
        {% endif %}
        
        {% for guest in the_event.guests %}
            {% if guest.token != user_token %}
                {% set sanitized = guest.sanitized_email() %}
                <input type="checkbox" id="guest-checkbox-{{loop.index}}" {% if guest.status == "accept" %}checked{%else%}disabled{%endif%} 
                   class="guestFilterCheckbox {{guest.status}}" data-email="{{sanitized}}">
                <label for="guest-checkbox-{{loop.index}}">
                	{% if guest.status == "decline" %}
                		<del>{{guest.fullname}}</del>
                	{% else %}
                		{{guest.fullname}}
                	{% endif %}
                </label>
            {% endif %}
        {% endfor %}
        </fieldset>
</div>

<div data-role="popup" id="finalize" data-overlay-theme="a" class="ui-content" data-theme="d" data-position-to="window"
    style="min-width:250px; max-width:350px;">
    <a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
    <h2 style="color:DodgerBlue; width:200px; font-size:24px;">Top 3 Times</h2>
    <div data-role="content" data-theme="d" class="ui-corner-bottom ui-content">
	    <form id="sendInvites" action="/send/{{user_token}}" method="post" data-ajax="false">
	   		{% set times = the_event.suggest_times() %}
	   		{% if not times %}
	   		    <div>No times to suggest!</div>
	   		{% else %}	
	            <fieldset data-role="controlgroup" data-type="vertical" data-mini="false">
	       	    {% for best_time, _ in times %}
		           <input type="radio" name="final_time" class="radioBtn" value="{{best_time}}" id="final_time-{{loop.index}}">
		           <label for="final_time-{{loop.index}}">
		           {{best_time.strftime("%H:%M")}}<br><small>{{best_time.strftime("%a, %d %b %Y")}}</small>
		           </label>
	       	    {% endfor %}
	       	  		<input type="radio" name="final_time" class="radioBtn" id="final_time_custom" value="Other">
		          	<label for="final_time_custom">Pick other time</label>
	            </fieldset>
	            {% set default_time = the_event.start_time %}
	            {% if not the_event.start_time %}
	            	{% set default_time = times[0][0] %}
	            {% endif %}
	            <input type="datetime-local" data-clear-btn="true" disabled="disabled" name="datetime" id="datetime" data-clear-btn="false" value="{{default_time.strftime('%Y-%m-%dT%H:%M')}}">
	            <fieldset data-role="controlgroup">
	            	<label for="duration">Duration (hours)</label>
	            	<input type="range" name="duration" id="duration" data-mini="true" 
	            	  value="{{(the_event.duration // 30) / 2.0}}" min="1" step="0.5" max="5" data-highlight="true">
                </fieldset>
	            <div class="input-error" id="final_time-error">You must pick a final time</div>
	            <input type="submit" data-theme="b" value="Send Event">
	       	{% endif %}
	    </form>
	</div>
</div>

{% if not is_logged_in %}
<div>
<a href="/signup?redirect=/cal/{{user_token}}" id="sync-btn" data-role="button" data-theme="e" data-iconpos="right"
    data-iconshadow="false" data-shadow="false" data-icon="refresh" data-ajax="false">
    Sync your Calendar<br><small>with Google Calendar</small>
</a>
</div>
{% endif %}

<div id="prevnext-bar">
<table style="width:100%;"><tr>
<td>
<a href="#" id="prev-btn" data-role="button" data-theme="b" data-inline="true" class="ui-icon-nodisc"
    data-iconshadow="false" data-shadow="false" data-icon="arrow-l" data-iconpos="notext">Scroll left</a>
</td>
<td style="text-align:center;">
<a href="#infobox" id="info-btn" data-rel="popup" data-role="button" data-icon="info" data-iconshadow="false"
    data-position-to="window" data-mini="true" class="ui-icon-nodisc" data-iconpos="notext"
	data-inline="true" data-transition="pop" data-theme="b">Info</a>
</td>
<td style="text-align:center;">
<a href="#friendsFilter" id="guests-btn" data-rel="popup" data-role="button" 
    data-position-to="window" data-mini="true" class="ui-icon-nodisc"
    data-inline="true" data-transition="pop" data-theme="b"><i class="icon-users" title="Guest List"></i></a>
</td>
{% if is_owner %}
	<td style="text-align:center;">
	<a href="/edit/{{the_event.owner_token}}" id="edit-btn" data-role="button" data-icon="edit"
    	class="ui-icon-nodisc" data-iconshadow="false" data-shadow="false" data-inline="true" 
    	data-theme="b" data-iconpos="notext">Edit event</a>
	</td>
{% endif %}
<td style="text-align:center;">
<a href="#" id="clear-btn" data-role="button" data-theme="b" data-inline="true" class="ui-icon-nodisc"
    data-iconshadow="false" data-shadow="false" data-icon="delete" data-iconpos="notext">Clear selection</a>
</td>
<td style="text-align:right;">
<a href="#" id="next-btn" data-role="button" data-theme="b" data-inline="true" class="ui-icon-nodisc"
    data-iconshadow="false" data-shadow="false" data-icon="arrow-r" data-iconpos="notext">Scroll right</a>
</td>
</tr></table>

<div class="tutorial" id="tut1">
<span>See details and filter by participants</span>
</div>

</div>

<div class="calendar-container disable-select" style="position: relative;">

<div class="tutorial" id="tut2" style="position: absolute; top: 100px;">
<span>Click and drag to select times. Long-click on days or hours to select rows and columns</span>
</div>

<table cellpadding="0" cellspacing="0" style="width:100%;"><tr>
    <td class="cal-hours-column">
    <div style="z-index:5; background:white;">
        <div class="cal-hour-x"></div>
        {% for hour in hours %}
           <div class="cal-hour-cell" data-cell-row="{{hour*2}}"><div class="cal-hour-text">{{hour}}</div></div>
           <div class="cal-hour-cell-30" data-cell-row="{{hour*2+1}}"></div>
        {% endfor %}
    </div>
    </td>
    <td>
        <div id="calendar-grid-container">
        <table id="calendar-grid" cellpadding="0" cellspacing="0"><tr>
        {% for day in days %}
        <td class="cal-day-column {%if day.weekday in ('Fr', 'Sa') %}weekend{%endif%}" id="column-{{day.index}}">
            <div class="cal-day-title" data-cell-col="{{day.index}}">
                <span class="weekday">{{day.weekday}}</span> <span class="date">{{day.date}}</span>
            </div>
            {% for hour in hours %}
               <div class="cal-day-cell" id="cell-{{day.index*48+hour*2}}" 
                       data-cell-row="{{hour*2}}" data-cell-col="{{day.index}}"></div>
               <div class="cal-day-cell cal-day-cell-30" id="cell-{{day.index*48+hour*2+1}}" 
                       data-cell-row="{{hour*2+1}}" data-cell-col="{{day.index}}"></div>
            {% endfor %}
        </td>
        {% endfor %}
        </tr></table>
        </div>
    </td>
</tr>
</table>
</div>

<div>
	<div class="input-error" id="errbox"></div>

    {% if the_event.status == "canceled" %}
        <div class="input-error" style="display:block;">Event Canceled</div>
    {% else %}
    <!-- fieldset data-role="controlgroup" data-type="horizontal" style="display: inline-block;"-->
		<div class="tutorial" id="tut3">
		<span>
		{% if is_owner %}
        Once you've selected your preferred times, click Send Invites. Your guests will be notified.
		{% else %}
        Once you've selected your preferred times, click Save
		{% endif %}
		</span>
		</div>
        
		<button data-role="button" id="savebtn" data-theme="{% if is_owner and not the_event.first_owner_save %}c{%else%}b{%endif%}" data-icon="check" data-iconpos="right">
		  {% if is_owner and the_event.first_owner_save %}
          Save and Send Invites
		  {% else %}
          Save Selection
		  {% endif %}
		</button>
		
	    {% if not is_owner %}
	    <a href="#" id="decline-btn" data-role="button" data-theme="c" data-icon="delete" data-iconpos="right"
	          style="color: rgb(184, 12, 12); text-shadow: 0px 0px 10px rgba(184,12,12,0.3);">
	        Decline Event
	    </a>
	    {% endif %}
		
	    {% if is_owner and the_event.owner_selected_times %}
	    <a href="#finalize" id="finalize-btn" data-rel="popup" data-role="button" data-icon="star" data-iconpos="right" data-iconshadow="false"
	    data-position-to="window" data-iconpos="right"
	    data-transition="pop" data-theme="b" title="Pick final time and create calendar event">
	    {% if the_event.status == "pending" %}
	    Select Final Time
	    {% else %}
	    Update in Calendar
	    {% endif %}
	    </a>
	    {% endif %}
    {% endif %}
</div>

<script type="text/javascript">
function initpage() {
    
    function setContainerWidth(){
        var totWidth = $(".calendar-container").innerWidth();
        var hourColWidth = $(".cal-hours-column").outerWidth();
        $("#calendar-grid-container").width(totWidth - hourColWidth);
        
        var grid = $("#calendar-grid");
        var left = parseInt(grid.css("margin-left").replace("px", ""));
        
        if (left < 0) {
            $("#prev-btn").removeClass("ui-disabled");
        }
        else {
            $("#prev-btn").addClass("ui-disabled");
        } 
        if (left + grid.outerWidth() > $("#calendar-grid-container").innerWidth()) {
            $("#next-btn").removeClass("ui-disabled");
        }
        else {
            $("#next-btn").addClass("ui-disabled");
        }
    }
    
    $(window).on("resize", setContainerWidth);
    
    $("#calendar-grid").swipe({
        swipeStatus : function(event, phase, direction, distance, duration, fingerCount) {
            if (event.type == "mousedown" && event.button == 2) {
                /* don't catch right-click */
                return;
            }
            
            if (fingerCount >= 2) {
                /* two finger - scroll
                scrollCalendarGrid(event, phase, direction, distance);*/
                return;
            }
            
            calendarGridSelect(event, phase);
        },
        threshold: 20,
        /*fingers: "all",*/
    });
    
    var grid_margin = null;
    function scrollCalendarGrid(event, phase, direction, distance) {
        var grid = $("#calendar-grid");
        if (phase == "start") {
            grid_margin = parseInt(grid.css("margin-left").replace("px", ""));
        }
        else if (phase == "move" && grid_margin != null) {
            var delta = 0;
            if (direction == "left") {
                delta = -distance;
            }
            else if (direction == "right") {
                delta = distance;
            }
            
            var new_left = grid_margin + delta;
            if (new_left > 0) {
                new_left = 0;
            }
            grid.css({"margin-left": new_left + "px"});
            var portWidth = $("#calendar-grid-container").innerWidth();
            var width = grid.outerWidth();
            
            if (new_left >= 0) {
                $("#prev-btn").addClass("ui-disabled");
            }
            else {
                $("#prev-btn").removeClass("ui-disabled");
            }
            if (new_left + width < portWidth) {
                $("#next-btn").addClass("ui-disabled");
            }
            else {
                $("#next-btn").removeClass("ui-disabled");
            }
        }
        else if (phase == "cancel" && grid_margin !=null) {
            grid.css({"margin-left": left + "px"});
            grid.css({"margin-left": grid_margin + "px"});
        }
        else if (phase == "end") {
            grid_margin = null;
        }
    }
    
    var first_elem = null;
    function calendarGridSelect(event, phase) {
        var elem = null;
        if (event.type.indexOf("mouse") == 0) {
            elem = $(event.toElement);
        }
        else if (event.type.indexOf("touch") == 0) {
            elem = $(document.elementFromPoint(event.changedTouches[0].screenX, event.changedTouches[0].screenY));
            /*elem = $(event.relatedTarget);*/
        }
        else {
            return;
        }
        
        if (phase == "start") {
            clearTemp();
            first_elem = elem;
            selectRect(first_elem, first_elem);
        }
        else if (phase == "cancel") {
            clearTemp();
            first_elem = null;
        }
        else if (phase == "move" && first_elem != null) {
            selectRect(first_elem, elem);
        }
        else if (phase == "end" && first_elem != null) {
            first_elem = null;
            $(".cal-day-cell-selected-add").addClass("cal-day-cell-selected");
            clearTemp();
            
            if ($(".cal-day-cell-selected").length) {
                $("#clear-btn").removeClass("ui-disabled");
            }
            else {
                $("#clear-btn").addClass("ui-disabled");
            }
        }
    }
    
    function clearTemp() {
        $(".cal-day-cell-selected-del").removeClass("cal-day-cell-selected");
        $(".cal-day-cell-selected-add").removeClass("cal-day-cell-selected-add");
        $(".cal-day-cell-selected-del").removeClass("cal-day-cell-selected-del");
    }
    
    function selectRect(fromelem, toelem) {
        var r1 = parseInt(fromelem.data("cell-row"));
        var c1 = parseInt(fromelem.data("cell-col"));
        var r2 = parseInt(toelem.data("cell-row"));
        var c2 = parseInt(toelem.data("cell-col"));
        
        if (r2 < r1) {
            var tmp = r2;
            r2 = r1;
            r1 = tmp;
        }
        if (c2 < c1) {
            var tmp = c2;
            c2 = c1;
            c1 = tmp;
        }

        $(".cal-day-cell-selected-add").removeClass("cal-day-cell-selected-add");
        $(".cal-day-cell-selected-del").removeClass("cal-day-cell-selected-del");
        var cls = fromelem.hasClass("cal-day-cell-selected") ? "cal-day-cell-selected-del" : "cal-day-cell-selected-add";
        
        for (var r = r1; r <= r2; r++) {
            for (var c = c1; c <= c2; c++) {
                $(".cal-day-cell[data-cell-row='"+r+"'][data-cell-col='"+c+"']").addClass(cls);
            }
        }
    }
    
    $(".cal-day-title").on("taphold dblclick", function() {
        var col = $(this).data("cell-col");
        var c1 = $(".cal-day-cell[data-cell-col='" + col + "']");
        var c1_has = _.every(c1.map(function(){return $(this).hasClass("cal-day-cell-selected");}));
        
        if (c1_has) {
            c1.removeClass("cal-day-cell-selected");
        }
        else {
            c1.addClass("cal-day-cell-selected");
        }
    });

    $(".cal-hour-cell").on("taphold dblclick", function() {
         var row = $(this).data("cell-row");
         var r1 = $(".cal-day-cell[data-cell-row='" + row + "']");
         var r2 = $(".cal-day-cell[data-cell-row='" + (row + 1)+ "']");
         var r1_has = _.every(r1.map(function(){return $(this).hasClass("cal-day-cell-selected");}));
         var r2_has = _.every(r2.map(function(){return $(this).hasClass("cal-day-cell-selected");}));
         
         if (r1_has && r2_has) {
             r1.removeClass("cal-day-cell-selected");
             r2.removeClass("cal-day-cell-selected");
         }
         else {
             r1.addClass("cal-day-cell-selected");
             r2.addClass("cal-day-cell-selected");
         }
    });

    $(".cal-hour-cell-30").on("taphold dblclick", function() {
        var row = $(this).data("cell-row");
        var r1 = $(".cal-day-cell[data-cell-row='" + row + "']");
        var r1_has = _.every(r1.map(function(){return $(this).hasClass("cal-day-cell-selected");}));
        
        if (r1_has) {
            r1.removeClass("cal-day-cell-selected");
        }
        else {
            r1.addClass("cal-day-cell-selected");
        }
    });
    
    $("#next-btn").on("click", function() {
        var grid = $("#calendar-grid");
        var left = parseInt(grid.css("margin-left").replace("px", ""));
        var width = grid.outerWidth();
        var portWidth = $("#calendar-grid-container").innerWidth();
        var colWidth = $(".cal-day-column").outerWidth()

        left -= Math.floor(portWidth / colWidth) * colWidth;
        if (left + width < portWidth) {
            left = portWidth - width;
            $("#next-btn").addClass("ui-disabled");
            $("#prev-btn").removeClass("ui-disabled");
        }
        else if (left < 0) {
            $("#prev-btn").removeClass("ui-disabled");
        }
        
        grid.animate({
            "margin-left": left + "px",
        });
    });

    $("#prev-btn").on("click", function() {
        var grid = $("#calendar-grid");
        var left = parseInt(grid.css("margin-left").replace("px", ""));
        var width = grid.outerWidth();
        var portWidth = $("#calendar-grid-container").innerWidth();
        var colWidth = $(".cal-day-column").outerWidth()
        
        left += portWidth;
        if (left >= 0) {
            left = 0;
            $("#next-btn").removeClass("ui-disabled");
            $("#prev-btn").addClass("ui-disabled");
        }
        else if (left + width > portWidth) {
            $("#next-btn").removeClass("ui-disabled");
        }
        
        grid.animate({
            "margin-left": (Math.floor(left / colWidth) * colWidth) + "px",
        });
    });
    
    $("#clear-btn").on("click", function(){
        $(".cal-day-cell-selected").addClass("cal-day-cell-selected-del");
        $(".cal-day-cell-selected").removeClass("cal-day-cell-selected");
        $("#clear-btn").addClass("ui-disabled");
        setTimeout(function(){
            $(".cal-day-cell-selected-del").removeClass("cal-day-cell-selected-del");
        }, 200);
    });
    
    $("#savebtn").on("click", function(){
    	var selected = $(".cal-day-cell-selected").map(function(){
    		return {day: parseInt($(this).data("cell-col")), 
    			halfhour: parseInt($(this).data("cell-row"))};
    	});
    	
    	console.log("selected", selected);
    	if (!selected.length) {
    		$("#errbox").text("No time slots selected");
    		$("#errbox").show();
    		setTimeout(function(){
                $("#errbox").fadeOut();
    		}, 5000);
    		return;
    	}
    	
    	$("#errbox").hide();
    	
        $.ajax("{{post_url}}", {
            cache : false,
            type: "POST",
            dataType : "json",
            data: JSON.stringify(_.toArray(selected)),
            traditional: true,
            success : function(data) {
                window.location.href = data;
            },
            error : function(x){
                console.log("error", x);
                $("#errbox").text("Error: " + x.statusText);
                $("#errbox").show();
                setTimeout(function(){
                    $("#errbox").fadeOut();
                }, 7000);
            }
        });
    	
    });

    function insertEvents(eventlist, evtclass) {
        var hour_height = $(".cal-day-cell").outerHeight() + $(".cal-day-cell-30").outerHeight();
        var grid = $("#calendar-grid");
        for (var i = 0; i < eventlist.length; i++) {
            var evt = eventlist[i];
            var elem = $("<div class='" + evtclass + "'>");
            var col = $(".cal-day-title[data-cell-col='" + evt.start_day + "']");
            if (col.length == 0) {
                continue;
            }
            elem.css({
                left : col.position().left, 
                top: col.height() + evt.hour_offset * hour_height,
                width: col.width(), 
                height: evt.duration * hour_height,
            });
            elem.appendTo(grid);
            if (evt.user) {
                elem.addClass("email-" + evt.user);
            }
            if (evt.title) {
                var title = $("<div class='cal-user-event-title'>");
                title.text(evt.title);
                title.appendTo(elem);
            }
        }
    }

    var user_calendar_events = {{user_calendar_events|safe}};
    var user_calendar_votes = {{user_calendar_votes|safe}};
    var user_selected_slots = {{user_selected_slots|safe}};

    function prepare() {
    	setContainerWidth();
        insertEvents(user_calendar_events, "cal-user-event");
        insertEvents(user_calendar_votes, "cal-user-vote");
    }
    
    setTimeout(prepare, 10);
    
    for (var i = 0; i < user_selected_slots.length; i++) {
    	var slot = user_selected_slots[i];
    	var cell = $(".cal-day-cell[data-cell-col='" + slot.day + "'][data-cell-row='" + slot.halfhour + "']");
    	cell.addClass("cal-day-cell-selected");
    }
    
    if ($(".cal-day-cell-selected").length) {
        $("#clear-btn").removeClass("ui-disabled");
    }
    else {
        $("#clear-btn").addClass("ui-disabled");
    }
    
    $('#decline-btn').on("click", function(event) {
        event.preventDefault();
        if (confirm("Are you sure you want to decline the event?")) {
            window.location = '/decline/{{user_token}}';
            return true;
        }
        return false;
    });

    $(".guestFilterCheckbox.pending").checkboxradio('disable');
    $(".guestFilterCheckbox.decline").checkboxradio('disable');

    $(".guestFilterCheckbox").on("change", function() {
    	var slots = $(".cal-user-vote.email-" + $(this).data("email"));
        
        if ($(this).is(":checked")) {
        	slots.fadeIn();
        }
        else {
        	slots.fadeOut();
        }
    });
    
    $(".radioBtn").click(function() {
        $("#datetime").attr('disabled', 'disabled');
        $("#datetime").closest("div").addClass("ui-disabled");
        if ($("input[name=final_time]:checked").attr('id') == "final_time_custom") {
            $("#datetime").removeAttr('disabled');
            $("#datetime").closest("div").removeClass("ui-disabled");
        }
    });
    
    
    $("#sendInvites").on("submit", function(event){
    	if (!$("input[name='final_time']:checked").val()) {
    		$("#final_time-error").show();
    		$("input[name='final_time']").on("click", function(){
    			$("#final_time-error").hide();
    		});
            event.preventDefault();
            return false;
    	}
    	var elem = $("input[name=final_time]:checked");
    	if (elem.attr('id') == "final_time_custom") {
    		var newTime = $("#datetime").val();
    		elem.attr("value",newTime);
    		console.log(elem.val());
    	}
    });
    
    var tut1_timeout = null, tut2_timeout = null, tut3_timeout = null;

    function show_tutorial() {
        $("#tutorial-overlay").on("click", kill_tutorial);
        $("body").on("keydown.tutorial", function() {
            kill_tutorial();
            $("body").off("keydown.tutorial");
        });
        
    	$("#tutorial-overlay").fadeIn(400);
        $("#tut1").fadeIn(600);
        tut1_timeout = setTimeout(function () {
            $("#tut1").fadeOut(400);
            $("#tut2").fadeIn(600);
            tut2_timeout = setTimeout(function () {
                $("#tut2").fadeOut(400);
                $("#tut3").fadeIn(600);
                $('body').animate({scrollTop: $("#tut3").offset().top});
                tut3_timeout = setTimeout(function () {
                    $("#tut3").fadeOut(400);
                    $("#tutorial-overlay").fadeOut(400);
                    {% if not is_owner %}
                    setTimeout(function() {
                    	show_infobox();
                    }, 500);
                    {% endif %}
                }, 7000);
            }, 6000);
        }, 5000);
    }
    
    function kill_tutorial() {
    	console.log("killing tutorial");
        clearTimeout(tut1_timeout);
        clearTimeout(tut2_timeout);
        clearTimeout(tut3_timeout);
        $("#tutorial-overlay").fadeOut(400);
        $("#tut1").hide();
        $("#tut2").hide();
        $("#tut3").hide();
    }
    
    function show_infobox() {
        if (user_selected_slots.length == 0) {
	        setTimeout(function(){
	            $("#infobox").popup("open");
	        }, 300);
        }
    }
    
    //{# if show_tutorial #}
    show_tutorial();
    //{# elif not is_owner #}
    //show_infobox();
    //{# endif #}
}

$(document).ready(function() {
	setTimeout(initpage, 100);
	console.log("hello from ready");
});
</script>

{% endblock %}

