{% extends "layout.html" %}

{% block header %}
Edit Your'e Event
{% endblock %}

{% block content %}

<h1>{{event.title}}</h1>
<br>
<h4 id="startTime">Start Time: {{event.start_time}}</h4>
<br>
<h4 id="endTime">End Time: {{event.end_time}}</h4>
<br>
<div data-role="collapsible-set" data-theme="c" data-content-theme="d">
    <div data-role="collapsible">
        <h3>Accepeted</h3>
        
        {% for guest in event.get_guests_by_status("accept") %}
        	{% set user = guest.user %}
        	{% if user %}
        		<li>{{user.fullname}}</li> 
        	{% else %}
        		<li>{{guest.email}}</li>
        	{% endif %}
        {% endfor %}
    </div>
    <div data-role="collapsible">
        <h3>Declined</h3>
        {% for guest in event.get_guests_by_status("decline") %}
        	{% set user = guest.user %}
        	{% if user %}
        		<li>{{user.fullname}}</li> 
        	{% else %}
        		<li>{{guest.email}}</li>
        	{% endif %}
        {% endfor %}
    </div>
    <div data-role="collapsible">
        <h3>Pending</h3>
        <ul>
        {% for guest in event.get_guests_by_status("pending") %}
        	{% set user = guest.user %}
        	{% if user %}
        		<li>{{user.get().fullname or user.get().email}}</li> 
        	{% else %}
        		<li>{{guest.email}}</li>
        	{% endif %}
        {% endfor %}
        </ul>
    </div>
</div>
<br>
<p>Event Description:...</p>
<br>


{% endblock %}