{% extends "layout.html" %}

{% block header %}
Edit Your'e Event
{% endblock %}

{% block content %}

<h1>{{event.title}}<a href="index.html" data-role="button" data-icon="edit" data-iconpos="notext">Edit Title</a></h1>
<h4 id="startTime"> From: {{event.start_time}} &nbsp; &nbsp; To: {{event.end_time}}</h4>
<div data-role="collapsible-set" data-theme="c" data-content-theme="d">
    <div data-role="collapsible">
        <h4>Guest List</h4>
        <ul data-role="listview" data-filter="true" data-filter-placeholder="Search guests..." data-inset="true">
        {% for guest in event.guests %}
        	{% if guest.status == "accept" %}
        		{% set ic = "check" %}
        	{% elif guest.status == "decline" %}
        		{% set ic = "delete" %}
        	{% else %}
        		{% set ic = "alert" %}
        	{% endif %}
        	{% set user = guest.user %}
        	{% if user %}
        		<li data-icon={{ic}} id="skull"><a href="#">{{user.get().fullname or user.get().email}}</a></li>
        	{% else %}
        		<li data-icon={{ic}} id="skull"><a href="#">{{guest.email}}</a></li>
        	{% endif %}
        {% endfor %}
        </ul>
    </div>
</div>   
<a href="index.html" data-role="button" data-icon="add" data-iconpos="notext">Add Guest</a>
<br>
<h3>Event Description<a href="index.html" data-role="button" data-icon="edit" data-iconpos="notext">Edit Description</a></h3>
<p>{{event.description}}</p>
<br>


{% endblock %}