{% extends "layout.html" %}

{% block header %}
{{title}}
{% endblock %}

{% block content %}

<ul data-role="listview" data-inset="true">
	{% for evt in events %}
    <!-- li data-role="list-divider">Friday, October 8, 2010 <span class="ui-li-count">2</span></li-->
    	<li>
	    {% if owner %}
	    <a href="/edit/{{evt.owner_token}}">
	        <h2>{{ evt.title }}</h2>
	        <p></p>
	        <p class="ui-li-aside"><strong>{{evt.start_window}}</strong></p>
	    </a>
	    {% else %}
	    <a href="/guest/{{evt.get_token_for(user)}}">
	        <h2>{{ evt.title }}</h2>
	        <p>{{evt.type}}</p>
	        <p class="ui-li-aside"><strong>{{evt.start_window}}</strong></p>
	    </a>
		{% endif %}
    	</li>
    {% endfor %}
</ul>

{% endblock %}

