{% extends "layout.html" %}

{% block header %}
New Invitation
{% endblock %}

{% block content %}




<h1>{{event.title}}</h1>
<h4>By {{event.owner.get().fullname or event.owner.get().email}} </h4>
<h4>From: {{event.start_time}}</h4>
<h4>To: {{event.end_time}}</h4>

{% if event.description %} 
<h4>Description</h4>
<p>{{event.description}}</p>
{% endif %}

<div data-role="collapsible-set" data-theme="c" data-content-theme="d">
    <div data-role="collapsible" data-collapsed="false">
        <h4>Guest List</h4>
        <!-- a href="#" data-role="button" data-icon="edit" data-iconpos="notext" title="Add guests"></a-->
        <ul data-role="listview" data-filter="true" data-filter-placeholder="Search guest..." data-inset="true">
        {% for guest in event.guests %}
        	{% if guest.status == "accept" %}
        		{% set ic = "check" %}
        	{% elif guest.status == "decline" %}
        		{% set ic = "delete" %}
        	{% else %}
        		{% set ic = "false" %}
        	{% endif %}
        	{% set user = guest.user %}
        	{% if user %}
        		<li data-icon="{{ic}}" data-iconpos="left"><a href="#">{{user.get().fullname or user.get().email}}</a></li>
        	{% else %}
        		<li data-icon="{{ic}}" data-iconpos="left"><a href="#">{{guest.email}}</a></li>
        	{% endif %}
        {% endfor %}
        </ul>
    </div>
</div>

{% if event.status != "canceled" %}
<div data-role="fieldcontain">
	<a href="/choose/{{the_guest.token}}" data-role="button" data-theme="b" data-icon="arrow-r" data-iconpos="right">Go To Vote!</a>
	<a href="/decline/{{the_guest.token}}" data-role="button" data-theme="c" data-icon="delete" data-iconpos="right">I'm not going</a>
</div>
{% endif%}






{% endblock %}