{% extends "layout.html" %}

{% block main %}
   
	<div class="row">
    	<div class="col-lg-12">
        	<h1>You Have Been Invited To: {{event.title}}</h1>
		</div>
	</div><!-- /.row -->
        
    <div class="row">
    	<div class="col-lg-12">
        	<h4 id="startTime">Start Time: {{event.start_time}}</h4>
        </div>
    </div><!-- /.row -->

    <div class="row">
    	<div class="col-lg-12">
        	<h4 id="endTime">End Time: {{event.end_time}}</h4>
        </div>
    </div><!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
        	<p>Event Description:...</p>
        </div>
   	</div><!-- /.row -->

	<p>
		<br>
	 	<a href="/"><button type="accept" class="btn btn-success btn-lg">ACCEPT</button></a>
	   	<button type="decline" class="btn btn-danger btn-lg">DECLINE</button>
	</p>

{% endblock %}