{% extends "layout.html" %}

{% block header %}
New Invitation
{% endblock %}

{% block content %}

<h1>Youv'e Been Invited To: {{event.title}}</h1>
<h4 id="startTime"> From: {{event.start_time}} &nbsp; &nbsp; To: {{event.end_time}}</h4>
<div data-role="collapsible-set" data-theme="c" data-content-theme="d">
    <div data-role="collapsible">
        <h4>Guest List</h4>
        <ul data-role="listview" data-filter="true" data-filter-placeholder="Search guests..." data-inset="true">
        {% for guest in event.guests %}
        	{% if guest.status == "accept" %}
        		{% set ic = "check" %}
        	{% elif guest.status == "decline" %}
        		{% set ic = "delete" %}
        	{% else %}
        		{% set ic = "alert" %}
        	{% endif %}
        	{% set user = guest.user %}
        	{% if user %}
        		<li data-icon={{ic}} id="skull"><a href="#">{{user.get().fullname or user.get().email}}</a></li>
        	{% else %}
        		<li data-icon={{ic}} id="skull"><a href="#">{{guest.email}}</a></li>
        	{% endif %}
        {% endfor %}
        </ul>
    </div>
</div>
<br>
<h3>Event Description</h3>
<p>{{event.description}}</p>
<br>

<form action="{{post_url}}" method="post" class="validate" id="newevtform">
	<div data-role="fieldcontain">
        <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
            <input id="radio1" name="status" value="accept" type="radio" data-icon="check">
            <label for="radio1">
                ACCEPT
            </label>
            <input id="radio2" name="status" value="decline" type="radio" data-icon="delete">
            <label for="radio2">
                DECLINE
            </label>
        </fieldset>
    </div>
    
    <input type="submit" value="Next" data-theme="b" >
    
</form>

{% endblock %}