{% extends "layout.html" %}

{% block header %}
SchedUp
{% endblock %}

{% block extracss %}
    <!-- Important Owl stylesheet -->
    <link rel="stylesheet" href="/static/owl-carousel/owl.carousel.css">
 
    <!-- Default Theme -->
    <link rel="stylesheet" href="/static/owl-carousel/owl.theme.css">
 
    <!-- Include js plugin -->
    <script src="/static/owl-carousel/owl.carousel.js"></script>
    
    <link href='http://fonts.googleapis.com/css?family=Averia+Sans+Libre:400,700' rel='stylesheet' type='text/css'>
    
    <style type="text/css">
    
    .explanation {
        font-family: 'Averia Sans Libre', cursive;
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        color: rgb(63, 138, 167);
    }
    
    #mainlimit {
        width:600px;
        margin: 0 auto;
    }
    #bannerimg {
        width: 600px;
        margin: 0 auto 10px auto;
        display: block;
    }
    #owl-example {
        width: 400px;
        margin: 0 auto;
    }
    #signupbtn1 {
        width: 360px;
        display: block;
        margin: 0 auto 10px auto;
    }
    #signupbtn2 {
        display: none;
    }
    
    #owl-example {
        background: rgba(0,0,0,0.05);
        border-radius: 10px;
    }
    
    @media print, handheld, only screen and (max-width:600px) {
        #mainlimit {
            width: 300px;
        }
        
        #bannerimg {
            width: 280px;
        }
        
	    #owl-example {
	        margin: 10px auto 0 auto;
	        width: 280px;
	        padding: 5px;
	    }
	    #signupbtn1 {
	       display: none;
	    }
	    #signupbtn2 {
	        width: 280px;
	        display: block;
            margin: 20px auto 10px auto;
	    }
	            
    }
    
    </style>

{% endblock %}

{% block content %}
<div id="mainlimit">
    <a href="/my" style="text-decoration: none;"  data-ajax="false"><img src="/static/img/banner.png" id="bannerimg"></a>
    <div class="explanation" style="font-size:20px; color:black">Schedule Events in a Breeze!</div>
    <a href="/my" data-role="button" id="signupbtn1" data-theme="b" data-ajax="false">
       <div style="font-size:140%; padding: 0 0 6px 0; color: rgb(245, 245, 191);">Sign Up Now</div>
       <div style="font-size:90%;">with your Google account</div>
    </a> 
    
	<div id="owl-example" class="owl-carousel">
	  <div class="item">
	       <div class="explanation">Pick the title, guests and a time window</div>
	       <img src="/static/img/tutorial-1.png" >
	  </div>
	  <div class="item">
           <div class="explanation">Your guests will pick their preferred times</div>
           <img src="/static/img/tutorial-2.png" >
      </div>
	  <div class="item">
           <div class="explanation">And choose the final time in one click!</div>
	       <img src="/static/img/tutorial-3.png" >
      </div>
	</div>
    <a href="/my" data-role="button" id="signupbtn2" data-theme="b" data-ajax="false">
       <div style="font-size:140%; padding: 0 0 6px 0; color: rgb(245, 245, 191);">Sign Up Now</div>
       <div style="font-size:90%;">with your Google account</div>
    </a> 
</div>

<script language="javascript">

 $(document).ready(function() {
	 
	  $("#owl-example").owlCarousel({
	  // Most important owl features
	    items : 1,
	    itemsCustom : false,
	    itemsDesktop : false,
	    itemsDesktopSmall : false,
	    itemsTablet: false,
	    itemsTabletSmall: false,
	    itemsMobile : false,
	    singleItem : true,
	    itemsScaleUp : false,
	 
	    //Basic Speeds
	    slideSpeed : 300,
	    paginationSpeed : 400,
	    rewindSpeed : 1000,
	 
	    //Autoplay
	    autoPlay : false,
	    stopOnHover : false,
	 
	    // Navigation
	    navigation : false,
	    navigationText : ["prev","next"],
	    rewindNav : true,
	    scrollPerPage : false,
	 
	    //Pagination
	    pagination : true,
	    paginationNumbers: false,
	 
	    // Responsive 
	    responsive: true,
	    responsiveRefreshRate : 200,
	    responsiveBaseWidth: window,
	 
	    // CSS Styles
	    baseClass : "owl-carousel",
	    theme : "owl-theme",
	 
	    //Lazy load
	    lazyLoad : false,
	    lazyFollow : true,
	    lazyEffect : "fade",
	 
	    //Auto height
	    autoHeight : false,
	 
	    //JSON 
	    jsonPath : false, 
	    jsonSuccess : false,
	 
	    //Mouse Events
	    dragBeforeAnimFinish : true,
	    mouseDrag : true,
	    touchDrag : true,
	 
	    //Transitions
	    transitionStyle : false,
	 
	    // Other
	    addClassActive : false,
	 
	    //Callbacks
	    beforeUpdate : false,
	    afterUpdate : false,
	    beforeInit: false, 
	    afterInit: false, 
	    beforeMove: false, 
	    afterMove: false,
	    afterAction: false,
	    startDragging : false,
	    afterLazyLoad : false});
	  
	    $('.owl-wrapper-outer').parent().addClass('bugi');
	});
 </script>

{% endblock %}