{% extends "layout.html" %}

{% block header %}
SchedUp
{% endblock %}

{% block content %}

<div style="max-width:600px; margin: 0 auto;">

<h1>SchedUp</h1>
<img src="/static/img/calendar_icon.png" style="display:block; margin: 0 auto;">

<div style="font-size:130%;">
	<p>
	SchedUp lets you schedule multi-participant events in just three easy steps:
	</p>
	<ol>
		<li>Enter the title and participants, and choose a time range in which the event should materialize</li>
		<li>Your guests sync their calendars with SchedUp and choose convenient times</li>
		<li>You're notified of everyone's picks and send the invite</li>
	</ol>
</div>

<a href="/new" data-role="button" data-theme="b" style="max-width:300px; float:right" data-ajax="false">
    <div style="font-size:140%; padding: 0 0 6px 0; color: rgb(245, 245, 191);">Sign Up Now</div>
    <div style="font-size:90%;">with your Google account</div>
</a>

</div>

{% endblock %}