{% extends "layout.html" %}

{% block header %}
SchedUp
{% endblock %}

{% block content %}

<div style="max-width:600px; margin-left:auto; margin-right:auto;">
<h1>SchedUp</h1>
<img src="/static/img/calendar_icon.png">

<div style="font-size:130%;">
<p>
SchedUp lets you schedule multi-participant events in just three easy steps:
</p>
<ol>
	<li>Enter the title and participants, and choose a time range in which the event should materialize</li>
	<li>Your guests sync their calendars with SchedUp and choose convenient times</li>
	<li>You're notified of everyone's picks and send the invite</li>
</ol>
</div>

<a href="/new" data-role="button" data-theme="b" style="max-width:300px; float:right" data-ajax="false">
Sign Up Now <br><small>with your Google account</small>
</a>

</div>

{% endblock %}