<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <title>SchedUp</title>
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/static/css/jquery.mobile-1.3.2.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/jqm-datebox.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/token-input.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/token-input-facebook.css" />
  <link rel="stylesheet" href="/static/css/custom.css" />
  <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/fontello/css/fontello.css">

  <script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery.mobile-1.3.2.min.js"></script>
  <script type="text/javascript" src="/static/js/underscore.min.js"></script>
    
  {% block extracss %}
  
  {% endblock %}

  <script type="text/javascript" src="/static/js/jquery.validate.min.js"></script>
  <script type="text/javascript" src="/static/js/jqm-datebox.core.min.js"></script>
  <script type="text/javascript" src="/static/js/jqm-datebox.mode.calbox.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery.mobile.datebox.i18n.en_US.utf8.js"></script>  
  <script type="text/javascript" src="/static/js/jquery.tokeninput.js"></script>
<!--   maybe need to add region or language information		-->
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
  
  <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	
	  ga('create', 'UA-46115657-1', 'sched-up.appspot.com');
	  ga('send', 'pageview');
  </script>
</head>
<body>
<!-- Home -->
<div data-role="page" id="page{{pageid}}">

	{% if not hide_header %}
	<div data-role="panel" id="sidepanel" data-position="left" data-theme="b" data-display="overlay">
	    <ul data-role="listview">
            <li data-icon="delete" data-theme="a"><a href="#" data-rel="close"></a></li>
		    <li data-icon="plus" {% if section=="new" %}data-theme="e" {%endif %}><a href="/new" data-ajax=false>New Calendar Event</a></li>
            <!-- li data-icon="plus" {% if section=="newfb" %}data-theme="e" {%endif %}><a href="/fbnew" data-ajax=false>New Facebook Event</a></li-->
		    <li data-icon="edit" {% if section=="my" %}data-theme="e" {%endif %}><a href="/my" data-ajax=false>My Events</a></li>
		    <li><a href="/invited" data-ajax=false {% if section=="invited" %}data-theme="e" {%endif %}>Invited To <span class="ui-li-count">{{user.count_invited_to() if user else 0}}</span></a></li>
		    <!-- li data-icon="gear" {% if section=="profile" %}data-theme="e" {%endif %}><a href="/profile" data-ajax=false>Profile</a></li-->
            <li data-icon="info" {% if section=="help" %}data-theme="e" {%endif %}><a href="/help" data-ajax=false>Help</a></li>
		    <li data-icon="info" {% if section=="about" %}data-theme="e" {%endif %}><a href="/about" data-ajax=false>About</a></li>
		</ul>
	</div>
	
	{% endif %}
	
	{% block topbar %}
	{% if not hide_header %}
    <div data-theme="b" data-role="header" {%if not dont_overlay_header%}data-position="fixed"{%endif%}>
    	<a href="#sidepanel" data-role="button" class="ui-icon-nodisc" data-icon="bars" data-iconpos="notext" data-theme="b" data-iconshadow="false" data-ajax=false></a>
        <h3>{% block header %}SchedUp{% endblock %}</h3>
    	<a href="/" data-role="button" class="ui-icon-nodisc" data-icon="home" data-iconpos="notext" data-theme="b" data-iconshadow="false" data-ajax=false></a>
    </div>
	{% endif %}
	{%endblock %}

    <div data-role="content" class="content-width-limit">
        {% block flashmsg %}
	    {% if flashmsg %}
	        <div id="flashmsg" class="{{flashclass}}"> {{flashmsg|safe}} </div>
            {% if flashtimeout > 0 %}
	        <script type="text/javascript">
	        $(document).ready(function(){
	            setTimeout(function(){
	                $("#flashmsg").fadeOut();
	            }, {{flashtimeout}});
	        });
	        </script>
            {% endif %}
	    {% endif %}
	    {%endblock %}
	    
        {% block content %}
        {{content}}
        {% endblock %}
    </div>
    
    <script type="text/javascript">
    /*var schedupAndroid = {
    		getGCMRegId : function() {
    			return "calvados";
    		}
    };*/
    
    $(document).ready(function() {
	    if (typeof(schedupAndroid) != 'undefined') {
            //$("#android").show();
	    	console.log("schedupAndroid = ", schedupAndroid);
	        setTimeout(function() {
	            var regid = schedupAndroid.getGCMRegId();
	            console.log("regid = ", regid);
	            //$("#android").text("regid = '" + regid + "'");
	            if (regid != "") {
                    $.ajax("/api/gcmreg/" + regid, {
                        type: "GET",
                    });
	            }
	        }, 5000);
	    }
    });
    </script>

</div>
</body>
</html>
