{% extends "layout.html" %} 

{% block header %} 
{% if edit_event %}Edit{% else %}New{% endif %} Event
{% endblock %}

{% block content %}
<div data-role="popup" id="helpMsgPopup" data-overlay-theme="a" data-theme="c" style="max-width:350px; margin-right:10px;" class="ui-corner-all">
    <a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
    <p id="helpMsgPopupText" style="padding: 20px 10px;">Placeholder</p>
</div>

<form action="{{post_url}}" method="post" data-ajax="false" id="newevtform">
	<div data-role="fieldcontain">
		<label for="titleinput" data-help-message="The event's title, e.g., <em>study session</em>, <em>My Birthday Beer</em>, etc."> Title </label> 
		<input name="title"
			id="titleinput" data-mini="true" placeholder="E.g., Study Session" value="{{the_event.title}}"
			type="text" autocomplete="off">
		<div class="input-error" id="titleinput-error">This field is required</div>
	</div>
	<div data-role="fieldcontain">
		<label for="guestinput" data-help-message="Enter the guests' emails. You can either write the full email or the person's name (auto-completed from your Google contacts)"> Guests </label> 
		<input name="guests"
			id="guestinput" data-mini="true" placeholder="Guests' emails"
			type="search" data-clear-btn="false">
        <div class="input-error" id="guestinput-error">At least one email address is required</div>
	</div>
	<div data-role="fieldcontain">
		<fieldset data-role="controlgroup" data-type="horizontal" id="fieldtype"
			data-mini="true">
			<legend data-help-message="The time of day for the event (morning/noon/evening). Multiple choices are allowed" style="width:100%;">When</legend>
			<input id="checkbox1" name="when" type="checkbox" value="morning" {% if "morning" in the_event.daytime%}checked{%endif%}>
			<label for="checkbox1">	Morning </label> 
			<input id="checkbox2" name="when"	type="checkbox" value="noon" {% if "noon" in the_event.daytime%}checked{%endif%}> 
			<label for="checkbox2">	Noon </label> 
			<input id="checkbox3" name="when" type="checkbox" value="evening" {% if "evening" in the_event.daytime%}checked{%endif%}> 
			<label for="checkbox3">	Evening </label>
		</fieldset>
        <div class="input-error" id="when-error">At least one time of day is required</div>
	</div>
	<div data-role="fieldcontain">
		<label for="searchTextField" data-help-message="Add a location to your event.">Where</label> 
		<input name="where"
			id="searchTextField" data-mini="true" size="50" placeholder="Anything you want!" value="{{the_event.title}}"
			type="text">
	</div>
	<div data-role="fieldcontain" style="display:none;">
		<fieldset data-role="controlgroup" data-type="horizontal"
			data-mini="true">
			<legend> Type </legend>
			<input id="radio1" name="type" value="Business" type="radio" {% if the_event.type == "Business" %}checked{%endif%}>
			<label for="radio1"> Business </label> 
			<input id="radio2" name="type" value="Friends" type="radio" {% if the_event.type == "Friends" %}checked{%endif%}> 
			<label for="radio2"> Friends </label> 
			<input id="radio3" name="type" value="Family" type="radio" {% if the_event.type == "Family" %}checked{%endif%}>
			<label for="radio3"> Family </label>
		</fieldset>
        <div class="input-error" id="type-error">Please choose one</div>
	</div>
	<div data-role="fieldcontain">
		<label for="fromdate" data-help-message="Select time window.<br>Your guests will choose what time slots are most convenient for them.">Time Window</label>
		<fieldset id="start-end-window" data-role="controlgroup" data-type="horizontal" data-mini="true" style="display: inline-block;">
			<table style="min-width:320px; margin-right: 12px;" cellpadding="0" cellspacing="0"><tr>
			<td style="width:45%;">
				<input name="fromdate" data-inlin="true" data-mini="true" id="fromdate" type="date" placeholder="Start Window" data-role="datebox"
					{%if the_event.start_window %}value="{{the_event.start_window.strftime('%Y-%m-%d')}}"{%endif%}
					data-options='{"mode": "calbox", "useNewStyle": true, "overrideDateFormat":"%Y-%m-%d", "theme":"c", "themeHeader":"a", "themeDate":"c", "themeDateToday":"a", "useFocus":true}'>
				<div class="input-error" style="max-width:140px" id="fromdate-error">Required</div>
			</td>
			<td style="width:10px;"></td>
			<td style="width:45%;">
				<input name="todate" data-inlin="true" data-mini="true" id="todate" type="date" placeholder="End Window"	data-role="datebox"
					{%if the_event.end_window %}value="{{the_event.end_window.strftime('%Y-%m-%d')}}"{%endif%}
					data-options='{"mode": "calbox", "useNewStyle": true, "overrideDateFormat":"%Y-%m-%d", "theme":"c", "themeHeader":"a", "themeDate":"c", "themeDateToday":"a", "useFocus":true}'>
				<div class="input-error" style="max-width:140px" id="todate-error">Required</div>
				<div class="input-error" style="max-width:140px" id="todate-error2">End date must be later than start date</div>
			</td>
			</tr></table>
		</fieldset>
	</div>
	<div data-role="fieldcontain" style="display:none;">
		<label for="slider-step">Duration (Hours)</label>
		<input type="range" name="slider-step" id="slider-step" value="{{the_event.duration / 60.0}}" min="0" max="5" step="0.5" />
	</div>
	<div data-role="fieldcontain">
		<label for="textarea-a" data-help-message="Use this field for any extra details you might want to add, like <em>at the Red Lobster's</em> or <em>don't forget a towel</em>">Details</label>
		<textarea name="description" id="textarea-a" placeholder="Location, description, extra notes" rows="3">{{the_event.description}}</textarea>
	</div>

	<a href="#" id="send-btn" data-theme="b" data-role="button" data-theme="c" data-icon="arrow-r" data-iconpos="right">
	   {% if edit_event %}
	   Update Event<br>
	   <small>guests will be notified</small>
	   {% else %}
	   Invite Guests<br>
	   <small>and pick your time slots</small>
	   {% endif %}
	</a>
	{% if edit_event %}
		<a href="/decline/{{user_token}}" id="decline-btn" data-role="button" data-theme="c" data-icon="delete" data-iconpos="right">
		{% if is_owner %}Cancel Event{% else %}Cancel Event{% endif %}
		</a>
	{% endif %}
</form>

<script type="text/javascript">
	$(document).ready(function() {
		
		var defaultBounds = new google.maps.LatLngBounds(
			new google.maps.LatLng(-33.8902, 151.1759),
			new google.maps.LatLng(-33.8474, 151.2631));

		var input = document.getElementById('searchTextField');
		var options = {
				  bounds: defaultBounds,
				  types: ['establishment']
				};
		autocomplete = new google.maps.places.Autocomplete(input);
				
		setTimeout(function(){
	        $("#guestinput").tokenInput("/api/autocomplete-contacts", {
	            minChars : 3,
	            theme : "facebook",
	            hintText : "Email address or contact name",
	            tokenDelimiter : ";",
	            preventDuplicates : true,
	            prePopulate : {{the_event_guests|safe}},
	        });
	        
	        $("#guestinput").change(function(){
	            if ($(this).val() == "") {
	                $(this).tokenInput("clear");
	            }
	        });
		}, 100);
		
		var disable_auto_todate = false;
		
		$("#fromdate").on("change", function(){
			if (disable_auto_todate) {
				return;
			}
			var todate = $("#todate");
			var from_ts = $("#fromdate").datebox("getTheDate");
			from_ts.setDate(from_ts.getDate() + 4);
			console.log(from_ts);
			
			todate.datebox('setTheDate', from_ts);
			todate.trigger('datebox', {'method': 'doset'});
		});
		
		$("#todate").on("click", function(){
			disable_auto_todate = true;
		});
		
		$("#send-btn").on("click", function(){
			$("#newevtform").submit();
		});
		
		$("*[data-help-message]").each(function() {
			$(this).append("<div class='helpbtn'>");
		});
		
		$("*[data-help-message]").on("click", function(e){
			var msg = $(this).data("help-message");
			$("#helpMsgPopupText").html(msg);
			$("#helpMsgPopup").popup("open");
			e.preventDefault();
			return false;
		});
		
		$("#newevtform").on("submit", function(event){
			var succ = true;
			var first = null;
			
			function check_when()
			{
				var truth=$("#checkbox1").prop("checked") || $("#checkbox2").prop("checked") || $("#checkbox3").prop("checked");
				if (!truth) {
                    var msg = $("#when-error");
                    msg.show();
                    function onchg(){
                        msg.fadeOut();
                    }
                    $("#checkbox1").change(onchg);
                    $("#checkbox2").change(onchg);
                    $("#checkbox3").change(onchg);
				}
				return {truth:truth,obj:$("#checkbox1")};
			}
			function check_endtime_gt_startime()
			{
				var truth=$("#fromdate").val() <= $("#todate").val()
				if (!truth) {
                    var msg = $("#todate-error2");
                    msg.show();
                    function onchg(){
                        msg.fadeOut();
                    }
                    $("#fromdate").change(onchg);
                    $("#todate").change(onchg);
				}
                return {truth:truth,obj:$("#todate")};
			}
			
			var to_validate = ["#titleinput", "#guestinput", "#fromdate", "#todate", 
			                   check_when, check_endtime_gt_startime];
			
			for (var i in to_validate) {
				var selector = to_validate[i];
				if (typeof(selector) == "function") {
					res = selector();
					if (!res.truth) {
						succ = false;
                        if (!first) {
                            first = res.obj;
                        }
					}
				}
				else {
					var obj = $(selector);
		            if (!obj.val()) {
	                    succ = false;
		                if (!first) {
		                    first = obj;
		                }
		                var err = $(selector + "-error");
		                err.show();
		                obj.change((function(err){
		                	return (function(){
		                	    err.fadeOut();
		                	});
		                })(err));
		            }
				}
			}
			if (!succ) {
				event.preventDefault();
			}
			if (first) {
				first.focus();
			}
			return succ;
		});

	});
	
</script>

{% endblock %}

